<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ICaculation+" value="StrategyPattern.Service.Plus,StrategyPattern.Service"/>
    <add key="ICaculation-" value="StrategyPattern.Service.Minus,StrategyPattern.Service"/>
    <add key="ICaculation*" value="StrategyPattern.Service.Mutiply,StrategyPattern.Service"/>
    <add key="ICaculation/" value="StrategyPattern.Service.Devision,StrategyPattern.Service"/>
    <add key="ICaculation%" value="StrategyPattern.ServiceExtend.Remainder,StrategyPattern.ServiceExtend"/>
    <add key="CaculationType" value="+,-,*,/,%"/>
  </appSettings>
</configuration>
